extends ../layout

block title
	title ЗВЕЗДОЧЕТ

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content
	a.back_link(href='/logout') Выход
	.title ЗВЕЗДОЧЕТ
	.main_menu_block
		br
		br
		b События:
		a(href='/auth/events')= ' редактировать'
		br
		br
		b Расписание:
		a(href='/auth/schedule')= ' редактировать'