.main_block {
	width: 1280px;
	margin: 0 auto;
}

.head_title_block {
	text-align: center;
}

.menu_block {
	text-align: center;
}

.menu_block a, .menu_separator {
	margin-right: 10px;
	display: inline;
}

.content_block {
	margin-top: 20px;
}

.head_title_block {
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px solid #b2baba;
	font: 12pt/14pt 'helveticaneuecyrlight';
}